@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

.app {
  display: flex;
  flex-wrap: wrap;

}
body {
  margin: 0;
  /* background-color: #f3f3f3; */
  /* background-color: rgb(240, 242, 245); */

  background-image: linear-gradient(0deg, #00dbdb15 0%,  #e4eaec 100%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.error {
  color: #ff4444;
}

.invalid {
  border: none;
  outline: 1px solid #ff4444;
}

.login-error {
  padding: 7px;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(238, 118, 118);
  color: white;
  margin-top: -15px;
  margin-bottom: 5px;
}

.spinner {
  width: 100vw;
  height: 80vh;
  position: absolute;
  z-index: 100;
}
.spinner img {
  position: fixed;
  margin: auto auto;
  top: 35vh;
  left: 42vw;
}
.footer {
  color: white;
  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
  


  
 
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #703e3e,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #268a8a, #4866a7);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}
.header-login-1
{
  background: linear-gradient(to left, #268a8a, #4866a7);
}

.nav {
  min-height: 75px;
  letter-spacing: 4px;
  padding: auto;
 
  background: linear-gradient(to right, #268a8a, #4866a7);
}
